
<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  class="top-container"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="data"
>
  <div
    *ngFor="let tradeGroup of data; let i = index"
    class="group-container"
    cdkDrag
  >
    <div *ngFor="let trade of tradeGroup; let j = index" class="subgroup-container">
      <div
        [ngClass]="_.gt(j, 0) ? ['trade', 'sub-trade'] : ['trade']"
      >
        <div class="box-text-field">
          {{trade.textField}}
        </div>
        <div class="box-big-number">
          {{trade.origIndex}} -> {{trade.newIndex}}
        </div>
      </div>
    </div>

    <div *cdkDragPlaceholder>
      <div *ngFor="let trade of tradeGroup; let j = index" class="drag-container">
        <div class="custom-placeholder">
          <div class="box-text-field">
            {{trade.textField}}
          </div>
          <!-- <div class="box-big-number">
            {{trade.origIndex}}
          </div> -->
        </div>
      </div>
    </div>
</div>
